<div class="header" style = "position: absolute;top: 10px;">
    <nav>
        <div>  
            <div class = "home-tab">
                <p>Home</p>
            </div>
            <div class="dropdown">
                <button >Language</button>
                <div class="dropdown-content">
                  <a href="/" value = "malayalam">Malayalam</a>
                  <a href="/" value = "english">English</a>
                </div>
              </div>
            <!-- <button type="button" id="english" name="Language" onclick="location.href='templates/lang.html'">Language</button> -->
            <button type="button" id="english" name="Filtering">Filtering</button>  

        </div>
    </nav>
</div>